
<div class="bluebox">
    <a class="tab" rel="tooltip" data-ng-click="switchQuestion('question-containerlink')">
        <img src="img/current-question.jpg"
             alt="Current Question" width="16"
             height="16" align="left"/>
        &nbsp;&nbsp;Current Question
    </a>
</div>

<div class="bluebox">
    <a class="tab" rel="tooltip" data-ng-click="switchQuestion('statisticslink')">
        <img src="img/review.jpg"
             alt="Statistics" width="16"
             height="16" align="left"/>
        &nbsp;&nbsp;Statistics
    </a>
</div>

<div class="bluebox">
    <a class="tab" rel="tooltip" data-ng-click="switchQuestion('questionslink')">
        <img src="img/question.jpg"
             alt="Questions" width="16"
             height="16" align="left"/>
        &nbsp;&nbsp;Questions
    </a>
</div>

<div class="bluebox">
    <a class="tab" rel="tooltip" data-ng-click="switchQuestion('commentslink')">
        <img src="img/analysis.jpg"
             alt="Discussion" width="16"
             height="16" align="left"/>
        &nbsp;&nbsp;Discussion
    </a>
</div>

<div class="bluebox">
    <a class="tab" rel="tooltip" data-ng-click="switchQuestion('noteslink')">
        <img src="img/notes.jpg"
             alt="Notes" width="16"
             height="16" align="left"/>
        &nbsp;&nbsp;Notes
    </a>
</div>


<div class="bluebox">
    <a class="tab" rel="tooltip" data-ng-click="switchQuestion('flashcardslink')">
        <img src="img/flashcards.jpg"
             alt="Flash Cards" width="16"
             height="16" align="left"/>
        &nbsp;&nbsp;Flash Cards
    </a>
</div>

<div class="bluebox">
    <a class="tab" rel="tooltip" data-ng-click="switchQuestion('referenceslink')">
        <img src="img/analysis.jpg"
             alt="References" width="16"
             height="16" align="left"/>
        &nbsp;&nbsp;References
    </a>
</div>
<!--
<h2>Study Plan History:</h2>
<div class="bigtext">
  <p ng-show="attempts"> {{attempts}} Attempts</p>
  <p ng-hide="attempts"> 0 Attempts</p>
</div>
</br>
<div id="results">
	<div data-result-bar data-title=" My Results" data-correct="{{correct}}" data-incorrect="{{incorrect}}" data-cp="{{cp}}" data-ip="{{icp}}"> </div>
	<div data-result-bar data-title="Average results" data-cp="{{acp}}" data-ip="60"> </div>
</div>

-->
<!-- MASTERY & DIFFICULTY
</br>
<div data-level-bar data-title="Mastery" ng-show="usi.mastery" data-level={{usi.mastery}}></div>
<div ng-hide="usi.mastery">
  <h2>Mastery:</h2>
  <div class="greenbar"><img ng-show = "isMastered" src="img/icon_checkmark_white.png" width="17" height="18" /></div></div>
  <div class="yellowbar"><img ng-show = "isIntermediate" src="img/icon_checkmark_white.png" width="17" height="18" /></div></div>
  <div class="redbar"><img ng-show = "isBeginner" src="img/icon_checkmark_white.png" width="17" height="18" /></div>
</div>

  <br clear="all" /><br />
  </br> 
<div data-level-bar data-title="Difficulty" ng-show="item.difficulty" data-level={{item.difficulty}}></div>

<div ng-hide="item.difficulty">
  <h2>Difficulty:</h2>
  <div class="greenbar"><img ng-show = "isEasyStudyItem" src="img/icon_checkmark_white.png" width="17" height="18" ></div>
    <div class="yellowbar"></div>
  <div class="redbar"><img ng-show = "isDifficultStudyItem" src="img/icon_checkmark_white.png" width="17" height="18" ></div>  
</div>

-->
<!-- LAST STUDIED
<br clear="all" /><br />
</br>
<div>
  <h2>Last Studied:</h2>
  <p ng-show="usi.lastStudied">
	  {{usi.lastStudied | date:'medium'}}
  </p>
</div>
<br />
<br />

        -->