<header>
    <h2 ng-click="backToStudy()" ng-class="{'backBtnHeader':istablecontent}">{{headerMessage}} </h2>
    <div data-timer ng-hide="istablecontent"></div>
    <!--<div class="questionControls">-->
        <!--<small>Current time:</small>-->
        <!--<span>14:02</span>-->
        <!--<a href="#" class="playBtn2">PLay</a>-->
        <!--<a href="#" class="pauseBtn">Pause</a>-->

        <!--<a href="#" class="playBtn">Play</a>-->
    <!--</div>&lt;!&ndash; // question ciontrols &ndash;&gt;-->
    <div class="clearfix"></div>
    <!-- // header -->
</header>