<style type="text/css">
.ele {
	display: block;
	line-height: 20px;
	padding: 5px;
	text-align: left;
	background-color: #DEF0FF;
	border-radius: 4px;
	margin: 7px auto;
	color: #002747;
}

.editbar {
	position: relative;
	right: auto;
	top: auto;
}
</style>

<!--
<div class="greenbox" align="center">
	<img src="img/icon_customizeplan.png" width="55" height="51"
		alt="Customize Plan" /><br /> Customize Plan
</div>

<div class="greenbox" align="center">
	<img src="img/icon_question.png" width="44" height="44"
		alt="Customize Plan" /><br /> Ask a Question
</div>


<div class="bluebox">
	<img src="img/icon_related.png" alt="Related Concepts" width="16"
		height="16" align="left" />&nbsp;&nbsp;Related Concepts
</div>
-->

<!--
<div class="bluebox" data-flash-card-list></div>
-->

<!--
<div class="bluebox" data-reference-list></div>
-->