<!--<div ng-click="open()">{{ content.title }}</div>-->

<div>

    <div ng-hide="isEditVisible">
        <!--
        <div class="flashcardHeader">
            <div class="col-md-12">
                <h5 class="modal-title text-center">{{content.title}}</h5>
            </div>
        </div>
        -->
        <div class="flashcardBody" ng-click="flip()">

            <div class="text-center" ng-show="isFrontVisible">{{content.front}}</div>
            <div class="text-center" ng-hide="isFrontVisible">{{content.back}}</div>

        </div>
        <div class="span2 right" style="display:none" showonhoverparent>
                <button type="button" class="btn btn-success" ng-click="edit()">Edit</button>

                <button type="button" pull-right class="btn btn-danger " ng-click="delete(id)">Delete</button>
        </div>
        <br clear="all" />
    </div>

    <!--HTML for Edit and Delete Buttons for Flashcard -->
    <div ng-show="isEditVisible">
        <div class="form-group">
            <div class="form-group">
                <input class="form-control" ng-model="tempContent.title" type="text" />
            </div>
            <div class="form-group">
                <textarea class="form-control" row="6" ng-model="tempContent.front"></textarea>
            </div>
            <div class="form-group">
                <textarea class="form-control" row="6" ng-model="tempContent.back"></textarea>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-success" ng-click="save()">Save</button>
                <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>

</div>

<div ng-include src="modal"></div>



<!-- begin original code -->
<!--
<div ng-click="open()">{{content.title}}</div>
<div align="right">
  <span class="glyphicon glyphicon-remove" ng-click="delete(id)"></span>
</div>
<div ng-include src="modal"></div>
--><!-- end original code -->
