<a name="contactanchor" id="contactanchor"></a>

<div id="contact">
    <div class="container">
        <header>
            <h1>Contact Us</h1>
        </header><!-- // header -->
        <div id="contactLeft">
            <input type="text" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" />
            <input type="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" />
            <input type="email" placeholder="Role" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Role'" />
            <input type="email" placeholder="Company" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company'" />
            <textarea name="" id="" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" ></textarea>
            <input type="submit" value="SUBMIT">
        </div><!-- // contact left -->
        <div id="contactRight">
            <h4>Contact Information</h4>
            <p><img src="img/ico/email.png" alt=""><a href="mailto:support@crackoo.com">support@crackoo.com</a></p>
            <p><img src="img/ico/phone.png" alt="">+ 1 123 122 144</p>
        </div><!-- // contact right -->
        <div class="clearfix"></div>
    </div><!-- // container -->
</div><!-- // contact -->