<a name="forpublishers" id="forpublishers"></a>
<section id="forPublishers">
    <div class="container">
        <header>
            <h1>For Publishers</h1>
        </header><!-- // header -->
        <article class="publishersBox">
            <div class="publisherIco">
                <span class="publisherOne">For Publishers</span>
            </div><!-- // publisher ico -->
            <div class="publisherContent">
                <p>Accesible from anywhere. Make your content availilable on  all Mobile and web platform.</p>
            </div><!-- // publisher content -->
            <div class="clearfix"></div>
        </article><!-- // publisher box -->
        <article class="publishersBox">
            <div class="publisherIco">
                <span class="publisherTwo">For Publishers</span>
            </div><!-- // publisher ico -->
            <div class="publisherContent">
                <p>Turn your digital library into a subscription service.</p>
            </div><!-- // publisher content -->
            <div class="clearfix"></div>
        </article><!-- // publisher box -->
        <article class="publishersBox">
            <div class="publisherIco">
                <span class="publisherThree">For Publishers</span>
            </div><!-- // publisher ico -->
            <div class="publisherContent">
                <p>Power your educational content using our smart learning platform.</p>
            </div><!-- // publisher content -->
            <div class="clearfix"></div>
        </article><!-- // publisher box -->
        <article class="publishersBox">
            <div class="publisherIco">
                <span class="publisherFour">For Publishers</span>
            </div><!-- // publisher ico -->
            <div class="publisherContent">
                <p>Create content and earn  life time royalty.</p>
            </div><!-- // publisher content -->
            <div class="clearfix"></div>
        </article><!-- // publisher box -->
        <div class="clearfix"></div>
    </div><!-- // container -->
</section><!-- // for publishers -->