<a name="forstudents" id="forstudents"></a>
<section id="forStudents">
    <div class="container">
        <header>
            <hgroup>
                <h1>For Students</h1>
                <h2>LEARN SMARTER</h2>
            </hgroup>
        </header><!-- // header -->
        <article class="studentsBox">
            <div class="studentsIco">
                <span class="trackIco">Track</span>
            </div><!-- // icon -->
            <div class="studentsContent">
                <h3>Track</h3>
                <p>Track your progress towards your goal</p>
            </div><!-- // students content -->
        </article><!-- // students box -->
        <article class="studentsBox">
            <div class="studentsIco">
                <span class="reviewIco">Review</span>
            </div><!-- // icon -->
            <div class="studentsContent">
                <h3>Review</h3>
                <p>Ability to revisit your learning session at any point in time for effective and efficient learning.</p>
            </div><!-- // students content -->
        </article><!-- // students box -->
        <article class="studentsBox">
            <div class="studentsIco">
                <span class="questionsIco">Questions</span>
            </div><!-- // icon -->
            <div class="studentsContent">
                <h3>Questions</h3>
                <p>Ask questions and get them  answered by other students and experts.</p>
            </div><!-- // students content -->
        </article><!-- // students box -->
        <div class="clearfix"></div>
        <article class="studentsBox">
            <div class="studentsIco">
                <span class="personalizeIco">Personalize</span>
            </div><!-- // icon -->
            <div class="studentsContent">
                <h3>Personalize</h3>
                <p>Personalize your study according to your need and motivation.</p>
            </div><!-- // students content -->
        </article><!-- // students box -->
        <article class="studentsBox">
            <div class="studentsIco">
                <span class="flashcardsIco">Flashcards</span>
            </div><!-- // icon -->
            <div class="studentsContent">
                <h3>Flashcards</h3>
                <p>Create custom flashcards for things you would like to memorize.</p>
            </div><!-- // students content -->
        </article><!-- // students box -->
        <article class="studentsBox">
            <div class="studentsIco">
                <span class="notesIco">Notes</span>
            </div><!-- // icon -->
            <div class="studentsContent">
                <h3>Notes</h3>
                <p>Store your custom notes and thoughts along side the study content.Leverage notes from other users and past students.</p>
            </div><!-- // students content -->
        </article><!-- // students box -->
        <div class="clearfix"></div>
        <article class="studentsBox">
            <div class="studentsIco">
                <span class="inteligentIco">Inteligent Report</span>
            </div><!-- // icon -->
            <div class="studentsContent">
                <h3>Inteligent report and analysis</h3>
                <p>We analyze the learning data of
                    millions of users and combine that
                    knowledge with your learning data to
                    provide unique insights into your
                    learning.Identify your Strong Areas
                    and Weak Areas, Fastest Attempted
                    or Slowest Attempted question types.</p>
            </div><!-- // students content -->
        </article><!-- // students box -->
        <article class="studentsBox">
            <div class="studentsIco">
                <span class="mobilityIco">Mobility</span>
            </div><!-- // icon -->
            <div class="studentsContent">
                <h3>Mobility</h3>
                <p>Access your curse any time form  anywhere using any platform (iPhone, android and iPad)</p>
            </div><!-- // students content -->
        </article><!-- // students box -->
        <article class="studentsBox">
            <div class="studentsIco">
                <span class="analysisIco">Comparative Analysis</span>
            </div><!-- // icon -->
            <div class="studentsContent">
                <h3>Comparative Analysis</h3>
                <p>Compare your progress with your peers and top students.</p>
            </div><!-- // students content -->
        </article><!-- // students box -->
        <div class="clearfix"></div>
    </div><!-- //container -->
</section><!-- // for students -->