<a name="forschools" id="forschools"></a>
<section id="forSchools">
    <div class="container">
        <header>
            <hgroup>
                <h1>For Schools</h1>
                <h2>INCREASE STUDENT GRADES</h2>
            </hgroup>
        </header><!-- // header -->
        <article class="schoolsBox">
            <img src="img/bg/school1.png" alt="Personalized" class="img-responsive">
            <h3>Personalized</h3>
            <p>Address personalized needs of every student
                <small>Supporting text goes here</small>
            </p>
            <p>Address personalized needs of every student
                <small>Supporting text goes here</small>
            </p>
            <p>Address personalized needs of every student
                <small>Supporting text goes here</small>
            </p>
        </article><!-- // schools box -->
        <article class="schoolsBox">
            <img src="img/bg/schol2.png" alt="Personalized" class="img-responsive">
            <h3>Proactive</h3>
            <p>Address personalized needs of every student
                <small>Supporting text goes here</small>
            </p>
            <p>Address personalized needs of every student
                <small>Supporting text goes here</small>
            </p>
            <p>Address personalized needs of every student
                <small>Supporting text goes here</small>
            </p>
        </article><!-- // schools box -->
        <article class="schoolsBox">
            <img src="img/bg/school3.png" alt="Personalized" class="img-responsive">
            <h3>Effective</h3>
            <p>Address personalized needs of every student
                <small>Supporting text goes here</small>
            </p>
            <p>Address personalized needs of every student
                <small>Supporting text goes here</small>
            </p>
            <p>Address personalized needs of every student
                <small>Supporting text goes here</small>
            </p>
        </article><!-- // schools box -->
    </div><!-- // container -->
    <div class="clearfix"></div>
</section><!-- // for schools -->