<div id="topBar" class="homeBar">
    <div class="container">
        <div id="branding">
            <a href="#" title="Crackoo Homepage"><img src="img/logos/site-logo.png" alt="Crackoo"></a>
        </div><!-- // branding -->
        <nav id="mainNavigation">
            <ul>
                <li><a href="#forstudents" title="FOR STUDENTS">FOR STUDENTS</a></li>
                <li><a href="#forschools" title="FOR SCHOOLS">FOR SCHOOLS</a></li>
                <li><a href="#forpublishers" title="FOR PUBLISHERS">FOR PUBLISHERS</a></li>
                <li><a href="#inaction" title="SEE IT IN ACTION">SEE IT IN ACTION</a></li>
                <li><a href="#programs" title="PROGRAMS">PROGRAMS</a></li>
                <li><a href="#contactanchor" title="Contact">Contact us</a></li>
            </ul>
        </nav><!-- // navigation -->
        <div id="topCta">

            <div id="loginMenu">
                <ul>
                    <li>
                        <a href="#" class="loginBtn">Login</a>
                        <ul>
                            <li><a class="arrowUp"></a></li>
                            <li><a class="fbLogin" data-show-faces='false' data-scope='email,publish_actions' data-size="xlarge">FACEBOOK LOGIN</a></li>
                            <li><a class="googleLogin">GOOGLE+ LOGIN</a></li>
                            <li class="clearfix"></li>
                            <li><a href="views/home-parts/login.html" class="mailLogin fancybox fancybox.iframe">Your Email</a></li>
                        </ul>
                    </li>
                </ul>
            </div>



        </div><!-- // top call to action login -->
        <div class="clearfix"></div>
    </div><!-- // container -->
</div><!-- // top bar -->