<div id="headerTabs">
    <a href="#forstudents" class=" tabs" id="tab1">
        <h3>For Students</h3>
        <span>Learn More</span>
    </a><!-- // header tab -->
    <a href="#forschools" id="tab2" class="tabs">
        <h3>For Schools</h3>
        <span>Learn More</span>
    </a><!-- // header tab -->

    <a href="#forpublishers" id="tab3" class="nobrd tabs">
        <h3 >For Publishers</h3>
        <span>Learn More</span>
    </a><!-- // header tab -->
    <div class="clearfix" ></div>

</div><!-- // three header tabs -->