<div>
  <h4>{{title}}:</h4>
  <div class="bigtext left">Correct&nbsp;</div><div class="bigtext green left">+{{correct}} ({{cp}}%)</div>
   <div class="bigtext red right">-{{incorrect}} ({{ip}}%)</div>
    <div class="bigtext right">Incorrect&nbsp; </div>
   <div class="progress" style="width:100%; margin-bottom:0px;">
  	    <div class="progress-bar progress-bar-success" style="width:{{cp}}%"></div>
        <div class="progress-bar progress-bar-danger" style="width:{{ip}}%"></div>
  </div>
  <br clear="all" />
</div>
