<div data-header ng-if="first_name != undefined && first_name != null" ></div>
<div ng-if="first_name == undefined || first_name == null">
  <ng-include src="'views/home-parts/headerNotLoggedIn.html'" ></ng-include>
</div>

<div id="appPageWrapper" class="nopad">

  <div class="container">

      <span style="line-height:12px"><br /></span>
      <span style="line-height:12px"><br /></span>

      <!--<p class=MsoNormal align=center style='text-align:center'><u><span-->
      <!--style='text-decoration:none'>&nbsp;</span></u></p>-->

      <ul class="diagram">
        <li><img src="img/courses/comingsoon.png" alt="" class="diagram"/></li>

        <!--<li class="visible-md visible-lg clearfix">&lt;!&ndash;clear after three on md and large &ndash;&gt;</li>-->
      </ul>


    </div>

  </div>

</div>


<div data-app-footer></div>

