<footer id="appFooter">
    <div class="container">
        <small>Copyright 2015/16 Crackoo, Inc. All Rights Reserved</small>
        <div class="appFooternav">
            <ul>
                <li><a href="/" title="Home">HOME</a></li>
                <!--<li><a href="#" title="FAQ">FAQ</a></li>-->
                <li><a href="/privacy-policy" title="Privacy">PRIVACY</a></li>
                <li><a href="/terms-and-conditions" title="Terms">TERMS</a></li>
                <li><a href="/partners" title="Partners">Partners</a></li>
                <li><a href="#" title="Contact">CONTACT</a></li>
            </ul>
            <div class="socials">
                <a href="#" target="_blank" title="Facebook" class="facebookIco">Facebook</a>
                <a href="#" target="_blank" title="Twitter" class="twitterIco">Twitter</a>
            </div>
            <!-- // socials -->
        </div>
        <!-- // footer nav -->
    </div>
    <!-- // container -->
    <!-- // app footer -->
</footer>
