<!-- Begin SEO -->
<!--No need to index as the course page is already indexed.-->
<!--<view-title>{{chosenTitle}}</view-title>-->
<!--<meta view-head name="description" content={{SEODescription}}>-->
<!--<meta view-head name="keywords" content={{SEOKeywords}}>-->
<!-- END SEO -->

<div data-header></div>
  <div data-green-bar data-name="{{title}}" data-active-tab ="study" data-caption="" ng-show="showHeader == 'true'"> </div>

  <div id="secNav" ng-hide="hideCategoris">
      <div class="container">
          <nav>
              <ul>
                  <li><a ng-class="{'active' : activeTab == 'allCourses'}" data-ng-click="switchTab('allCourses')">All Courses</a></li>
                  <li><a ng-class="{'active' : activeTab == 'myCourses'}" data-ng-click="switchTab('myCourses')">My Courses</a></li>
              </ul>
              <!-- // list -->
          </nav>
          <!-- // nav -->
      </div>
      <!-- // container -->
  </div>
  <!-- // sec nav -->

  <div id="appPageWrapper">
      <div class="container">
          <aside id="sidebarNav" ng-hide="hideCategoris">
              <h3>CATEGORIES</h3>
              <nav>
                  <ul>
                      <data-category ng-repeat="category in categories" text="{{category.name}}" data-selected="selectedCategory == category" ng-click="selectCategory(category)" ></data-category>
                  </ul>
                  <!-- // list -->
              </nav>
              <!-- // nav -->
          </aside>
          <!-- // sidebar -->
          <section id="appContentRight" ng-class="{'contentCenter' : hideCategoris}"  ng-show="activeTab == 'allCourses'">
              <div data-course-box ng-repeat="course in courses"></div>
          <!-- // content right -->
          </section>
          <section id="appContentRight" ng-class="{'contentCenter' : hideCategoris}" ng-show="activeTab == 'myCourses'">
              <div data-course-box ng-repeat="course in mycourses"></div>
          <!-- // content right -->
          </section>
          <div class="clearfix"></div>
      </div>
      <!-- // container -->
  </div>
  <!-- // app page wrapper -->

  <div data-app-footer></div>
