<section id="appHeader">
    <div class="container">
        <header><!--Study Item Caption-->
            <h1 class="nobrd">{{headerTitle}}</h1>
        </header>
        <!-- // header -->
        <!--<div id="mainLinks">
            <a href="#" class="active">
                <span class="studyIco"></span>
                Study Plans
            </a><!-- // study icon -->
        </div>
        <!-- // main links -->
        <div id="mainLinks">
            <a href="/goals" ng-class="{'active': activeTab == 'study'}" ng-click="selectTab('study')">
                <span class="studyIco"></span>
                Study Plans
            </a><!-- // study icon -->
            <a href="/report/{{gid | spaceless}}/status" ng-hide="isGoalPage" ng-class="{'active': activeTab == 'status'}" ng-click="selectTab('status')">
                <span class="reportIco"></span>
                progress report
            </a><!-- // report icon -->
            <!--<a ng-hide="isGoalPage" ng-class="{'active': activeTab == 'questions'}" ng-click="selectTab('questions')">-->
                <!--<span class="questionsIco"></span>-->
                <!--questions-->
            <!--</a>&lt;!&ndash; // question icon &ndash;&gt;-->
        </div><!-- // main links -->
    </div>
    <!-- // container -->
    <!-- // app header -->
</section>
