<div data-header ng-if="first_name != undefined && first_name != null" ></div>
<div ng-if="first_name == undefined || first_name == null">
  <ng-include src="'views/home-parts/headerNotLoggedIn.html'" ></ng-include>
</div>

<div id="appPageWrapper" class="nopad">

  <div class="container">


  <div class=WordSection1>
    <span style="line-height:12px"><br /></span>
<h1 class=MsoNormal align=center style='text-align:center'>Crackoo Inc.</h1>
    <span style="line-height:12px"><br /></span>

    <!--<p class=MsoNormal align=center style='text-align:center'><u><span-->
 <!--style='text-decoration:none'>&nbsp;</span></u></p>-->

<h2 class=MsoNormal align=center style='text-align:center'><u>Privacy Policy</u></h2>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Effective Date: June 23, 2015</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>This Privacy Policy describes what personal information we
may collect from you through the Crackoo website and the services offered by us
in connection with the website (the &#8220Service&#148), and how we may use that
information. References to &#8220we,&#148 &#8220us,&#148 and &#8220our&#148 refer to Crackoo Inc.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>We may amend this Privacy Policy at any time by posting the
modified Privacy Policy on the Service. The modifications shall be effective
upon such posting (unless a later date is specified in the posting, in which
case that date shall be deemed the effective date of the modifications). You
agree to review this Privacy Policy periodically so that you are aware of any
modifications. Your continued use of the Service after such modifications
constitutes your acknowledgment of, and agreement to be bound by, the amended
Privacy Policy. Please review the Privacy Policy prior to entering personal
information on or through the Service.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>Personal Information We Collect</b></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>When you register with us and use the Service, we collect
the personal information you submit to us, including personal information
accessed via an Authentication Service that you use to register or log in to
the Service (such as Facebook Connect or Google). This information may include
your name, email address, age and date of birth, profile picture,
friends/contacts list and other personal information. To the extent you use
any portion of the Service for which fees are payable, we may also collect your
credit card information or other payment information.</p>

<p class=MsoNormal><span>&nbsp;</span></p>

<p class=MsoNormal>You can alter or update the personal information you submit
to us by logging into your account (with us or the Authentication Service, as
applicable) and changing the information. If you update information, we may
keep a copy of the prior version for our records.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>We may also use &#8220cookies&#148 on the Service. Cookies are small
computer files we place on your computer&#146s hard drive so we can recognize your
computer and collect information such as your Internet protocol (IP) address,
login, password, your browsing patterns on the Service, and other information
regarding your computer and your use of the Service. The Help portion of the
toolbar on most browsers will tell you how to restrict cookies or disable them
altogether. However, restricting or disabling cookies may prevent you from
using some of the features of the Service. We may allow advertisements to be
displayed on the Service, in which case the advertisements and the third
parties responsible for the advertisements may also use cookies. This privacy
policy covers the use of cookies by Crackoo Inc. and does not cover the use of
cookies or other tracking technologies by its advertisers or any other third
party.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>Our Use and Sharing of Your Personal Information</b></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>All content you submit to the Service is visible to other
users of the Service, including without limitation all content in your user
profile other than your email address and password. If you wish to keep this
information private, you must not include it in your user profile or otherwise
submit it to the Service (however, your current user name and profile picture,
if any, will always be visible to other users.)</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>We may use the information we collect on or through the
Service to provide and improve the Service, to customize and improve your
online experience, and collect any applicable fees related to the Service. We
may also send you news, updates and other information you may find useful,
unless you specify in your account that you do not want to receive these
notices.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>Except as described below, we do not share with third
parties information by which you can be personally identified unless you give
your consent.</b></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>We may disclose personally
identifiable information when we believe disclosure is appropriate for any of
the following purposes: to comply with the law or a request by law enforcement
officials or judicial authorities; to enforce or apply our Terms of Use and
other agreements; or to protect the rights, property, or safety of Crackoo Inc.,
our customers or others.</p>

<p class=MsoNormal>In the event that all or part of
our business may be acquired by a third party, we may disclose personally
identifiable information in connection with that transaction.</p>

<p class=MsoNormal>We may disclose personally
identifiable information to third parties who provide limited services on our
behalf (for example, the processing of payments, or delivery of emails or other
information to you). We only provide these third parties the information they
need to deliver such services, and we give them the right to use that
information only for that limited purpose.</p>

<p class=MsoNormal>Any personally identifiable
information which you include in your publicly-available user profile or submit
to publicly-accessible portions of the Service will be visible to the public.
If you use the Service to send any personally identifiable information to a
third party (such as another user of the Service), then we may send such
information to such third party through the Service as directed.</p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-indent:.5in'>&nbsp;</p>

<p class=MsoNormal><b>Security</b></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>We use industry standard security measures to protect the
loss, misuse and alteration of the information under our control. While there
is no such thing as &quot;perfect security&quot; on the Internet, we take commercially
reasonable steps to maintain the security of your personally identifiable
information.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>Children</b></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>No one under 13 years of age is authorized to use the Service,
and we do not intentionally collect information from anyone under the age of 13.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>International Visitors</b></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>The Service is provided and operated solely from the United
States of America. If you submit any personal information to the Service from outside
the United States, you hereby consent to the transfer of such information to
(and the processing of such information in) the United States, and the
exclusive application of the laws of the State of California, United States,
with regard to the collection and use of such information.</p>

  </div>

  </div>

</div>


<div data-app-footer></div>
