
<style type="text/css">

    .nav-tabs{
        margin: 0;
        border-bottom: 1px solid #a4a4a4;
        list-style: none;
    }
	.nav-tabs > li{
	/**	background-color:#e9e9e9; **/
		float:left;
		line-height: 20px;
	}
	.nav-tabs > li.first > a{
		border-left: 1px solid #a4a4a4;
	}
    .nav-tabs > li > a, .nav-tabs > li > a:hover{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin-right: 0;
        font-size: 16px;
        height: 39px;
        font-weight: bold;
       /* border-top: 1px solid #a4a4a4;
        border-right: 1px solid #a4a4a4;
        border-bottom: 1px solid #a4a4a4;*/
        /**	color:#0088cc; **/
    }
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover,
	.nav-tabs > .active > a:focus{
	/**	color:#6fb440; **/
		border: none;
		border-right: 1px solid #a4a4a4;
		border-top: 1px solid #a4a4a4;
		border-bottom: 1px solid #ffffff;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 12px;
		padding-left: 12px;
		line-height: 20px;
		display: block;
	}
	.nav-tabs > .first > a,
	.nav-tabs > .first > a:hover,
	.nav-tabs > .first > a:focus{
		border-left: 1px solid #a4a4a4;
	}
	.nav-tabs > li > a > .numbers{
	/**	background-color:#ff9900;  **/
		padding:2px 5px;
		/** color:#ffffff; **/
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		font-size:14px;
	}
	.tab-content{
		border-right: 1px solid #a4a4a4;
		border-left: 1px solid #a4a4a4;
		border-bottom: 1px solid #a4a4a4;
		-webkit-border-bottom-right-radius: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-moz-border-radius-bottomleft: 8px;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		min-height: 100px;
		padding:12px;
	}
</style>
<!-- START CONTAINER -->
<div id="container">

	<div data-header></div>
	<div data-green-bar data-name="{{title}}"></div>
	<br clear="all" />

	<!-- MAIN CONTENT AREA -->
	<div id="">

		<div id="profile_top" ng-include src="profile_top"></div>

		<div id="profile_tabs" ng-include src="profile_tabs"></div>

	</div>

	<br clear="all" /> <br />

</div>

