<div id="subNav">
    <div class="container">
        <nav>
            <ul>
              <li><a ng-click="type='status'" ng-class="{'active': (type == 'status') }"><span class="progressIco"></span>Goal Status</a></li>

              <li><a ng-click="type='studyactivity'" ng-class="{'active': (type == 'studyactivity') }"><span class="studyIco"></span>Study activity</a></li>
                <li><a ng-click="type='focus'" ng-class="{'active': type == 'focus'}"><span class="focusIco"></span>Focus</a></li>
                <li><a ng-click="type='progress'" ng-class="{'active': type == 'progress'}"><span class="progressIco"></span>Progress</a></li>
                <li><a ng-click="type='confidencelevel'" ng-class="{'active': type == 'confidencelevel'}"><span class="confIco"></span>Confidence Level</a></li>
                <li><a ng-click="type='difficultylevel'" ng-class="{'active': type == 'difficultylevel'}"><span class="difIco"></span>Difficulty level</a></li>
                <li><a ng-click="type='timelevel'" ng-class="{'active': type == 'timelevel'}"><span class="timelvlIco"></span>Time Level</a></li>
                <li><a ng-click="type='review'" ng-class="{'active': type == 'review'}"><span class="revreportIco"></span>Review Report</a></li>
            </ul>
        </nav>
    </div><!-- // container -->
</div><!-- // sec nav -->
