<div data-header ng-if="first_name != undefined && first_name != null" ></div>
<div ng-if="first_name == undefined || first_name == null">
  <ng-include src="'views/home-parts/headerNotLoggedIn.html'" ></ng-include>
</div>

<div id="appPageWrapper" class="nopad">

  <div class="container">

    <div class=WordSection1>
      <span style="line-height:12px"><br /></span>
      <h1 class=MsoNormal align=center style='text-align:center'>Crackoo Inc.</h1>
      <span style="line-height:12px"><br /></span>

      <!--<p class=MsoNormal align=center style='text-align:center'><u><span-->
        <!--style='text-decoration:none'>&nbsp;</span></u></p>-->

      <h2 class=MsoNormal align=center style='text-align:center'><u>Terms of Use</u></h2>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>Effective Date:  June 23, 2015</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>Welcome to Crackoo.  By accessing the Crackoo website or
        using the services offered in connection with the website, you agree to be
        bound by these Terms of Use, which constitute your agreement with Crackoo Inc.,
        a Delaware corporation.  The Crackoo website and the services offered by us in
        connection with the website are collectively be referred to in these Terms of
        Use as the “Service.”  References to “we,” “us,” and “our” refer to Crackoo
        Inc.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>We may amend these Terms of Use at any time by posting the
        modified Terms of Use on the Service.  The modifications shall be effective
        upon such posting (unless a later date is specified in the posting, in which
        case that date shall be deemed the effective date of the modifications).  You
        agree to review these Terms of Use periodically so that you are aware of any
        modifications.  Your continued use of the Service after such modifications
        constitutes your acknowledgment of, and agreement to be bound by, the amended Terms
        of Use.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><b>Access and Use</b></p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><i>License</i>.  Subject to and in accordance with these
        Terms of Use and other guidelines or instructions included in the Service, we
        grant you a limited, non-exclusive license to access and use the Service.  We
        reserve the right to terminate this license and your access to the Service, and
        to remove or discard content you have submitted to the Service, at any time,
        for any or no reason and with or without notice.  We reserve the right to
        revoke your particular username, or to require you to choose another username
        or password.</p>

      <p class=MsoNormal><i>&nbsp;</i></p>

      <p class=MsoNormal><i>Age Requirement; Responsibility</i>.  You represent that
        you are old enough to form a legally binding contract.  You may not access or
        use the Service unless you are at least 13 years old.  You are responsible for
        maintaining the confidentiality of your account and password and for
        restricting access to your computer.  You are responsible for your use of the
        Service and for all activities that occur under your account or password.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><i>Registration</i>.  You are required to maintain all
        information provided during your registration process so that it remains true,
        accurate, up-to-date and complete at all times.  The Service may permit you to
        register through certain third-party social networking services, such as Facebook
        Connect or Google (“Authentication Service”).  By registering for or logging
        into the Service using an Authentication Service, you agree that we may access and
        use your information on the Authentication Service, including but not limited
        to your username, profile picture, age and date of birth, email address, and
        friends/contacts list.  We are not affiliated with any Authentication Service and
        you are solely responsible for your interactions with the Authentication
        Service.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><i>Conduct</i>.  You may use the Service only in accordance
        with all applicable laws and regulations.  In addition, you agree <b><u>not</u></b>
        to:</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>1)         use
        the Service in a manner that could damage, disable, overburden or impair the
        Service, or interfere with any other user’s ability to use the Service;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>2)         harvest
        or otherwise collect or disseminate personal information about others without
        their consent, or harass or “stalk” another;</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>3)         impersonate
        any person or entity, or forge headers or otherwise manipulate identifiers in
        order to disguise the origin of messages, or create any user account by
        automated means or under false pretenses;</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>4)         gain
        or attempt to gain unauthorized access to the Service, or other accounts,
        computer systems or networks connected to the Service, through password mining
        or any other means;</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>5)         use
        the Service for other than personal, non-commercial purposes;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>6)         export
        technical data or other materials in violation of any applicable law;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>7)         artificially
        generate traffic or page links to any portion of the Service;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>8)         use any
        automated software, device, or process (including without limitation any “web
        crawler” or “screen scraper”) to extract or index any data or other content
        from the Service (including without limitation information about users of the
        Service);</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>9)         interfere
        or attempt to interfere with the proper working of the Service or any
        activities conducted on the Service, including without limitation the use of
        framing techniques to enclose any content, and the placement of pop-up windows
        over web pages;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>10)       authorize,
        aid, or encourage anyone to act in violation of these Terms of Use; or  </p>

      <p class=MsoNormal style='margin-left:1.0in;text-indent:-.5in'>&nbsp;</p>

      <p class=MsoNormal>            11)       upload, transmit or otherwise make
        available material that:</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.5in;text-indent:-.5in'>(a)        is unlawful,
        harassing, libelous, invasive of another's privacy, abusive, threatening,
        harmful, vulgar, obscene, or otherwise objectionable;</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.5in;text-indent:-.5in'>(b)        infringes
        any intellectual property right or other right of any third party, including
        but not limited to any patent, trademark, trade secret or copyright;</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.5in;text-indent:-.5in'>(c)        constitutes
        the unauthorized or unlawful disclosure of confidential or other proprietary or
        nonpublic information;</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.5in;text-indent:-.5in'>(d)       constitutes
        unsolicited or unauthorized advertising, promotional materials, “chain
        letters,” “junk mail,” “spam,” “pyramid schemes” or any other form of
        solicitation or disruptive messages; or</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='margin-left:1.5in;text-indent:-.5in'>(e)        contains
        viruses, trojan horses, worms or any other harmful or disruptive computer code,
        files or programs.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><i>Hyperlinks</i>.  You may create a hyperlink to the home
        page of the Service so long as the link does not portray the Service, Crackoo
        Inc. or its affiliates, or their services in a false, misleading, derogatory,
        or otherwise offensive manner.  You may not use any logo or other proprietary
        graphic, trademark or service mark as part of the link without written
        permission.</p>

      <p class=MsoNormal><b>&nbsp;</b></p>

      <p class=MsoNormal><b>Privacy</b></p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>Please see our <u>Privacy Policy</u>, which also governs
        your use of the Service and is hereby incorporated into these Terms of Use.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><b>Fees</b></p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>In order to use certain portions of the Service (such as
        premium services or certain educational content), you may be required to
        purchase a subscription or pay another form of fee (“Fees”).  Unless otherwise
        stated, all Fees are payable in U.S. Dollars.  You agree to pay all Fees
        incurred by you or anyone else using your account, and you hereby authorize us
        and our third-party payment service providers to collect such Fees using the
        credit card or other payment method you provide to us.  We reserve the right to
        institute new Fees or change the amount of, or basis for determining, any Fees.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><b>Proprietary Rights</b></p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>All content included in the Service and originating with
        Crackoo Inc., including but not limited to website design, text, photographs, graphics,
        sound, software and the arrangement of all content in the Service, is the
        property of Crackoo Inc. or its licensors, and is protected by United States
        and international copyright and other applicable law.  All rights to such content
        are reserved to their respective copyright owners.  Except as expressly
        authorized by these Terms of Use or any guidelines or instructions included in the
        Service, you may not reproduce, modify, copy, create derivative works of, sell
        or distribute any portion of the Service, use of the Service or access to the
        Service.  You may not reverse engineer, reverse assemble or otherwise attempt
        to discover the source code of the Service or any part thereof.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>“Crackoo” and all related logos, graphics and icons are
        service marks or trademarks of Crackoo Inc.  All other trademarks, service
        marks, product names and company names or logos that appear on this site are
        the property of their respective owners, and their presence in the Service does
        not represent an endorsement of the Service.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='page-break-after:avoid'><b>Third-Party Websites</b></p>

      <p class=MsoNormal style='page-break-after:avoid'>&nbsp;</p>

      <p class=MsoNormal>The Service may provide links to third-party websites, whose
        content, business practices and privacy policies are not under our control.  We
        are not responsible for the content of any linked website or any link contained
        in a linked website, and we will not be liable for any damage or loss caused by
        or in connection with the use of such websites or any information, product or
        service available on or through such websites.  The inclusion of a link in the
        Service does not imply any endorsement by us or any affiliation between us and
        the third party.  In following links to third-party websites, you may be
        exposed to content that you consider offensive or inappropriate.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><b>Content Provided By Users</b></p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>You are responsible for all content you submit to the
        Service, including any of your information accessed through a third-party
        Authentication Service (see <i>Registration</i> above).  You warrant that you
        have all rights necessary to submit such content to the Service, and that the
        public display and other use of such content by Crackoo Inc. will not violate
        the rights of any third party.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>You hereby grant Crackoo Inc. the non-exclusive, worldwide, royalty-free,
        perpetual, irrevocable, sub-licensable, transferable license to use, reproduce,
        modify, translate, publicly display, perform, create derivative works of,
        publish, distribute and promote, in any form and for any purpose, any content
        you submit to the Service.  </p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>In using the Service, you may access content submitted by
        other users, including without limitation the educational content of
        third-party providers.  We do not pre-screen, edit or review content submitted
        to the Service.  You may be exposed to content that is inaccurate, offensive,
        indecent or objectionable.  We do not make any representations or warranties
        about the accuracy, integrity, quality or any other aspect of such content, and
        we will not be liable for any damage or loss caused by or in connection with
        the use of such content.  By using the Service, you agree to bear all risks
        associated with the use of any content on the Service and any reliance on the
        accuracy, completeness, or usefulness of such content.  We reserve the right,
        in our sole discretion, to remove, change from public to private, move or
        otherwise restrict any content submitted to the Service, at any time and for
        any or no reason, with or without notice.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><b>No Warranties</b></p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK.  THE SERVICE
        IS PROVIDED ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS.  CRACKOO
        INC. AND ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS
        EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED,
        INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>CRACKOO INC. AND ITS AFFILIATES, OFFICERS, EMPLOYEES,
        AGENTS, PARTNERS AND LICENSORS MAKE NO WARRANTY THAT:  (i) THE SERVICE WILL
        MEET YOUR REQUIREMENTS; (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE
        OR ERROR-FREE; (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE
        SERVICE WILL BE ACCURATE OR RELIABLE; OR (iv) THE QUALITY OF ANY PRODUCTS,
        SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH
        THE SERVICE WILL MEET YOUR EXPECTATIONS.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><b>Limitation of Liability</b></p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>CRACKOO INC. AND ITS AFFILIATES, OFFICERS, EMPLOYEES,
        AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT,
        INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING
        WITHOUT LIMITATION DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE OR DATA OR OTHER
        INTANGIBLE LOSSES, RESULTING FROM OR INCURRED IN CONNECTION WITH ANY OF THE
        FOLLOWING (EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES): (i) THE USE OR
        THE INABILITY TO USE THE SERVICE OR TERMINATION OF THE SERVICE; (ii) ANY GOODS,
        DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR
        TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (iii) UNAUTHORIZED
        ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR
        CONDUCT OF ANY THIRD PARTY ON THE SERVICE OR ACCESSED THROUGH THE SERVICE; OR
        (v) ANY OTHER MATTER RELATING TO THE SERVICE.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><b><span style='font-family:"Times New Roman Bold"'>Exclusions
    and Limitations</span></b></p>

      <p class=MsoNormal><span style='text-transform:uppercase'>&nbsp;</span></p>

      <p class=MsoNormal><span style='text-transform:uppercase'>The laws of some
    states do not allow THE DISCLAIMER OF implied warranties or the exclusion or
    limitation of LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL damages.  accordingly,
    some of the above disclaimers, exclusions or limitations may not apply to you.</span></p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><b>Indemnity</b></p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>You agree to indemnify and hold harmless Crackoo Inc. and its
        affiliates, officers, employees, agents, partners and licensors from and
        against any loss, damage, liability and costs, including reasonable attorneys’
        fees, incurred in connection with a claim by any third party due to or arising
        out of your use of the Service, your violation of these Terms of Use or the
        rights of another party, or content you submit to the Service.</p>

      <p class=MsoNormal style='page-break-after:avoid'>&nbsp;</p>

      <p class=MsoNormal><b>Procedure for Making Claims of Copyright Infringement</b></p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>We may, in appropriate circumstances and in our discretion,
        disable or terminate the accounts of users who may be repeat infringers.  If
        you believe that your work has been copied in a way that constitutes copyright
        infringement, or your intellectual property rights have been otherwise
        violated, please provide our Copyright Agent with a notice including the
        following information:</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='text-indent:.5in'>1)         an electronic or
        physical signature of the person authorized to act on behalf of the owner of
        the copyright or other intellectual property interest;</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='text-indent:.5in'>2)         a description of the
        copyrighted work or other intellectual property that you claim has been
        infringed;</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='text-indent:.5in'>3)         a description of where
        the material that you claim is infringing is located on the site;</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='text-indent:.5in'>4)         your address, telephone
        number, and email address;</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='text-indent:.5in'>5)         a statement by you that
        you have a good faith belief that the disputed use is not authorized by the
        copyright owner, its agent, or the law;</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal style='text-indent:.5in'>6)         a statement by you, made
        under penalty of perjury, that the above information in your notice is accurate
        and that you are the copyright or intellectual property owner or authorized to
        act on the copyright or intellectual property owner’s behalf.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal>Our Agent for Notice of claims of copyright or other
        intellectual property infringement can be reached as follows:</p>

      <p class=MsoNormal>&nbsp;</p>

      <!--<p class=MsoNormal>By mail:</p>-->

      <!--<p class=MsoNormal>Copyright Agent</p>-->

      <!--<p class=MsoNormal>c/o Crackoo Inc.</p>-->

      <!--<p class=MsoNormal><span style='background:yellow'>[street address]</span></p>-->

      <!--<p class=MsoNormal>By phone:  _______________</p>-->

      <!--<p class=MsoNormal>By fax:  ________________</p>-->

      <p class=MsoNormal><b>By email:  support@crackoo.com</b></p>

      <p class=MsoNormal><b>&nbsp;</b></p>

      <p class=MsoNormal style='page-break-after:avoid'><b>General</b></p>

      <p class=MsoNormal style='page-break-after:avoid'>&nbsp;</p>

      <p class=MsoNormal style='page-break-after:avoid'><i>Notices</i>.  We may
        provide you with notices, including those regarding changes to these Terms of
        Use, by email, regular mail or postings on the Service.</p>

      <p class=MsoNormal style='page-break-after:avoid'>&nbsp;</p>

      <p class=MsoNormal><i>Entire Agreement</i>.  These Terms of Use represent the
        entire agreement between you and Crackoo Inc. with regard to their subject
        matter, they supersede all prior agreements and representations, and they may
        not be modified except by Crackoo Inc. in writing (including modifications by
        us to this page).</p>

      <p class=MsoNormal><i>&nbsp;</i></p>

      <p class=MsoNormal><i>Choice of Law and Forum</i>.  These Terms of Use, your
        use of the Service and the relationship between you and Crackoo Inc. shall be
        governed by the law of the State of California, United States, without regard
        to its conflict of laws principles, and shall be brought only in federal or
        state court in the County of San Francisco, California, United States, and you
        and Crackoo Inc. hereby generally and unconditionally submit to and accept the
        jurisdiction of such courts.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><i>Assignment</i>.  The Terms of Use, and any rights and
        licenses granted hereunder, may not be transferred or assigned by you, but may
        be assigned by us without restriction.  Any assignment attempted to be made in
        violation of these Terms of Use shall be null and void.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><i>Waiver and Severability</i>.  Our failure to exercise or
        enforce any right or provision of these Terms of Use shall not constitute a
        waiver of such right or provision by us.  If any provision of these Terms of
        Use is found by a court of competent jurisdiction to be invalid, the court will
        endeavor to give effect to the parties' intentions as reflected in the
        provision, and the other provisions of these Terms of Use will remain in full
        force and effect.</p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal><i>Statute of Limitations</i>.  Regardless of any statute or
        law to the contrary, any claim or cause of action by you arising out of or
        related to these Terms of Use or the use of the Service must be filed within
        one (1) year after such claim or cause of action arose or be forever barred.</p>

    </div>

   </div>

  </div>


<div data-app-footer></div>

