<h2></h2>
<div id="profile" class="greybox profile_top">
	<div class="left">
		<img class="profile_pic" align="absmiddle" ng-src="http://{{imgUrl}}" width="140" height="140" />
	</div>
	<div class="left">
		<h2 style="margin: 5px 0;"><a ng-href="{{profile_link}}" style="font-size: 22px;">{{full_name}}</a></h2>
		<br/>
        <div class="clearfix"></div>
	<!--	<div class="left" style="width:70px;color: #666">Location: </div> -->
		<div class="left">{{location}}</div>
		<div class="clearfix"></div>
	<!--	<div class="smalltext left" style="width:70px;color: #666">Studied at: </div> -->
		<div class="left">{{education}}</div>
		<div class="clearfix"></div>

      <!--  <div class="smalltext" style="bottom: 20px;position: absolute">
			<a href="#" class="grey">About</a>
	  </div> -->
	</div>
	<div class="clearfix"></div>
</div>
<!-- END PROGRESS SUMMARY -->

<br />
<br />
