<footer id="homeFooter">
    <div class="container">
        <div class="footerLeft">
            <small><small>&copy;2015 Crackoo Inc. All right reserved.</small></small>
        </div><!-- // footer left -->
        <div class="footerCenter">
            <a href="/"><img src="img/logos/footer-logo.png" alt="Cracko Footer Logo" class="img-responsive"></a>
        </div><!-- // footer center -->
        <div class="footerRight">
            <ul>
                <li><a href="/">Home</a></li>
                <!--<li><a href="">FAQ</a></li>-->
                <li><a href="/privacy-policy">Privacy</a></li>
                <li><a href="/terms-and-conditions">Terms</a></li>
                <li><a href="/partners">Partners</a></li>
                <!--<li><a href="">Contact</a></li>-->
            </ul>
        </div><!-- // fotoer right -->
        <div class="clearfix"></div>
    </div><!-- // container -->
</footer><!-- // homepage footer -->
