<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>

<div id="loginWrapper">
    <header>
        <h1>Login to your account!</h1>
    </header>

    <input type="text" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'" />

    <input type="password" placeholder="Your Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Password'" />

    <input type="submit" value="Login">
    <p>Lost your password? Reset it <a href="#">here</a></p>
</div>
</body>
</html>