<a name="inaction" id="inaction"></a>
<div id="inAction">
    <div class="container">
        <header>
            <hgroup>
                <h1>See Crackoo in Action</h1>
                <h2>SEE IT FOR YOURSELF</h2>
            </hgroup>
        </header><!-- // header -->


        <ul class="bxslider">
            <li>
                <img src="img/misc/slider1.png" alt="" class="img-responsive">
            </li>

            <li>
                <img src="img/misc/slider2.png" alt="" class="img-responsive">

            <li>
                <img src="img/misc/slider3.png" alt="" class="img-responsive">
            </li>

        </ul>



    </div><!-- // container -->
</div><!-- // in action slider -->

<script>
    $('.bxslider').bxSlider({

        auto: true,
        controls: false,
        paging: true,
        auto: true,
        pause: 2000,
        autoStart: true

    });
</script>